---
import { languageTag } from "../paraglide/runtime";
import "vanilla-framework/_index.scss";
import { WebsiteConfig } from "../config";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang={languageTag()}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description ? description : WebsiteConfig.siteDescription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={WebsiteConfig.faviconPath} />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} | ${WebsiteConfig.siteTitle}` : WebsiteConfig.siteTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style lang="scss" is:global>
// Import the framework
@import 'node_modules/vanilla-framework';

// Import Web Font for Korean glyphs
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

// Include all of Vanilla Framework
@include vanilla;

// Apply Keep-All and Web Font to Korean words
body {
	word-break: keep-all;
	font-family: "Ubuntu variable", Ubuntu, Pretendard, "Pretendard Variable", -apple-system, Segoe UI, Roboto, Oxygen, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue",sans-serif;
}
</style>