---
import { languageTag } from "../paraglide/runtime";
import "vanilla-framework/_index.scss";
import { WebsiteConfig } from "../config";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang={languageTag()}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description ? description : WebsiteConfig.siteDescription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={WebsiteConfig.faviconPath} />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} | ${WebsiteConfig.siteTitle}` : WebsiteConfig.siteTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style lang="scss" is:global>
	// Import the framework
@import 'node_modules/vanilla-framework';

// Include all of Vanilla Framework
@include vanilla;
</style>