---
import Layout from '@layouts/Layout.astro';
import Navigation from '@components/Navigation.astro';
import LocaleSwither from '@components/LocaleSwither.astro';
import * as m from "../paraglide/messages.js";
import { WebsiteConfig } from "../config";
interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
	<Navigation/>
	<slot />
    <footer class="l-footer--sticky p-strip--dark">
        <div class="u-fixed-width">
            <LocaleSwither/>
            <div class="p-logo-section--dense">
                <div class="p-logo-section__items">
                    {
                        WebsiteConfig.footer.organizers.map((item) => (
                            <div class="p-logo-section__item" >
                                <a href={item.link}>
                                    <img style={{maxHeight: "60px", paddingTop: "10px"}}
                                        class="p-logo-section__logo"
                                        src={item.logoImage}
                                        alt={item.name}
                                    />
                                </a>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
        <nav class="row" aria-label="Footer">
            <div class="has-cookie">
                <p>
                    {WebsiteConfig.footer.copyright}
                </p>
                <ul class="p-inline-list--middot">
                    <li class="p-inline-list__item">
                        <a href={WebsiteConfig.footer.contactUs}
                            ><small>{m.footer_contact()}</small></a
                        >
                    </li>
                    <li class="p-inline-list__item">
                        <a href={WebsiteConfig.footer.srcRepoUrl}
                            ><small>{m.footer_source()}</small></a
                        >
                    </li>
                    <li class="p-inline-list__item">
                        <a href="https://www.ubucon.asia"
                            ><small>{m.footer_other_years()}</small></a
                        >
                    </li>
                    <li class="p-inline-list__item">
                        <a href="https://ubucon.org"
                            ><small>{m.footer_ubucons()}</small></a
                        >
                    </li>
                </ul>
                <span class="u-off-screen"
                    ><a href="#">{m.footer_top()}</a></span
                >
            </div>
        </nav>
    </footer>
</Layout>

